altgraph==0.17.2
arrow==0.17.0
cassiopeia==5.0.1
certifi==2021.5.30
charset-normalizer==2.0.6
datapipelines==1.0.7
future==0.18.2
idna==3.2
merakicommons==1.0.10
networkx==2.6.3
pefile==2021.9.3
Pillow==8.3.2
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
python-dateutil==2.8.2
pywin32-ctypes==0.2.0
requests==2.26.0
riotwatcher==3.1.4
six==1.16.0
urllib3==1.26.7
